$blue: #4f4d6a;

h1, h2, h3, h4, h5, h6, p, div, ul, li, hr {
	padding: 0;
	margin: 0;
}

/* buttons */

.blueButton {
	width: 220px;
	height: 43px;
	background: linear-gradient(#6d6b89, #504e6b);
	border-radius: 20px;
	margin: 0 10px;
	color: white;
	font-style: italic;
	font-size: 1.8em;
	font-family: Georgia, serif;
	margin-bottom: 40px;
	cursor: pointer;
	border: 1px solid $blue;
}

.redButton {
	width: 220px;
	height: 43px;
	background: linear-gradient(#cebfc8, #9e8596);
	border-radius: 20px;
	margin: 0 10px;
	color: white;
	font-style: italic;
	font-size: 1.8em;
	font-family: Georgia, serif;
	margin-bottom: 40px;
	cursor: pointer;
	border: 1px solid #927c90;
}

/* /buttons */

html {
	font-size: 16px;
    font-size: 62.5%; /* 10 xp */
}
body {
	font-family: Georgia, Serif;
	color: $blue;
}
#main {
	max-width: 1550px;
	width: 95%;
	height: auto;
	margin: auto;
}

#cover {
	height: 1135px;
	width: 100%;
	background-image: url("images/background.png");
	overflow: hidden;
	padding-top: 45px;
	box-sizing: border-box;
	nav {
		background: url("images/banx.png") no-repeat;
		max-width: 960px;
		width: 93%;
		height: 30px;
		margin: auto;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		a {
			text-decoration: none;
			text-transform: uppercase;
			margin-right: 3.125%; /* 30px */
			font-size: 1.2em;
			text-align: center;
		}
		a:link, a:visited, a:hover, a:active {
			color: $blue;
		}
		a:nth-child(5) {
			margin-right: 0;
		}
	}
	#weAre {
		text-align: center;
		margin-top: 115px;
		padding: 0 5%;
		.whiteLine {
			height: 0;
			max-width: 410px;
			width: 26.4516%;
			border-top: 1px solid white;
			display: inline-block;
			position: relative;
			bottom: 5px;
		}
		span {
			text-transform: uppercase;
			font-size: 2.4em;
			margin: 0 23px;
			font-style: italic;
		}
		h1 {
			text-transform: uppercase;
			font-size: 12.5em;
		}
		h5 {
			text-transform: uppercase;
			font-size: 1.8em;
			font-family: OpenSans, sans-serif;
		}
		.whiteLineBottom {
			height: 0;
			max-width: 960px;
			width: 61.9354%;
			border-top: 1px solid white;
			margin: auto;
			margin-top: 25px;
			margin-bottom: 40px;
		}
	}
}
#worx {
	min-height: 800px;
	height: auto;
	width: 100%;
	background-color: #ebebeb;
	text-align: center;
	padding: 60px 30px 0;
	box-sizing: border-box;
	.whiteLine {
		height: 0;
		max-width: 400px;
		width: 25.8064%;
		border-top: 1px solid white;
		display: inline-block;
		position: relative;
		bottom: 5px;
	}
	span {
		display: inline;
		width: 100%;
		font-size: 1.8em;
		font-style: italic;
		text-transform: uppercase;
		margin: 0 30px;
	}
	h2 {
		font-size: 7.2em;
		text-transform: uppercase;
	}
	.whiteLineBottom {
		height: 0;
		max-width: 960px;
		width: 61.9354%;
		border-top: 1px solid white;
		margin: auto;
		margin-top: 20px;
		// margin-bottom: 50px;
	}
	#whiteLine2 {
		height: 0;
		max-width: 960px;
		width: 61.9354%;
		border-top: 1px solid white;
		margin: auto;
		margin-top: 30px;
		margin-bottom: 40px;
	}
	#virtues {
		max-width: 950px;
		min-height: 335px;
		height: auto;
		margin: auto;
		display: flex;
		flex-flow: row wrap;
		text-align: left;
		justify-content: center;
		.wrapper {
			margin-top: 52px;
			width: 50%;
			display: flex;
			flex-direction: row;
			text-align: left;
			min-width: 470px;
		}
		.wrapper .virtue {
			height: 100%;
			width: 50%;
			font-style: italic;
			padding: 0 10px;
			img {
				display: block;
				margin: auto;
			}
			h3 {
				margin-top: 35px;
				font-size: 2.2em;
				font-weight: 100;
			}
			p {
				margin-top: 4px;
				font-size: 1.2em;
				line-height: 23px;
			}
		}
	}
}
#awesome {
	min-height: 305px;
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 30px;
	box-sizing: border-box;
	#awesomeContainter {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		height: auto;
		max-width: 940px;
		width: 100%;
		margin-top: 8px;
		h3 {
			display: block;
			width: 100%;
			font-style: italic;
			font-weight: 100;
			font-size: 2.4em;
			height: 40px;
			line-height: 40px;
			margin-bottom: 10px;
		}
		.awesomeBox {
			min-height: 160px;
			height: auto;
			max-width: 320px;
			width: 32%;
			p {
				font-style: italic;
				font-weight: 100;
				font-size: 1.2em;
				line-height: 23px;
			}
			.viewMore {
				font-family: Georgia;
				border: 1px solid $blue;
				background-color: $blue;
				color: white;
				width: 100px;
				height: 22px;
				font-weight: 700;
				font-style: italic;
				border-radius: 4px;
				margin-top: 25px;
				cursor: pointer;
			}
		}
	}
}
footer {
	min-height: 310px;
	height: auto;
	width: 100%;
	background-color: #505050;
	color: white;
	font-family: OpenSans;
	box-sizing: border-box;
	overflow: hidden;
	padding: 0 30px;
	#outerFoot {
		max-width: 940px;
		height: auto;
		margin: auto;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		#foot {
			max-width: 650px;
			box-sizing: border-box;
			min-height: 110px;
			height: auto;
			margin-top: 48px;
			padding-right: 70px;
			h3 {
				font-size: 2.4em;
				font-style: italic;
				font-weight: 100;
				letter-spacing: 0.025em;
				margin-bottom: 13px;
			}
			p {
				font-size: 1.2em;
				line-height: 24px;
				letter-spacing: 0.06em;
			}
		}
		#contact {
			width: 260px;
			box-sizing: border-box;
			height: 110px;
			margin-top: 48px;
			h3 {
				font-style: italic;
				font-size: 2.4em;
				font-weight: 100;
				letter-spacing: 0.025em;
				margin-bottom: 13px;
			}
			p {
				font-size: 1.2em;
				line-height: 24px;
				letter-spacing: 0.06em;
			}
		}
	}
	#copyright {
		max-width: 915px;
		width: 100%;
		box-sizing: border-box;
		font-size: 1.2em;
		margin: auto;
		margin-top: 47px;
		margin-bottom: 25px;
	}
}