h1, h2, h3, h4, h5, h6, p, div, ul, li, hr {
  padding: 0;
  margin: 0; }

/* buttons */
.blueButton {
  width: 220px;
  height: 43px;
  background: -webkit-gradient(linear, left top, left bottom, from(#6d6b89), to(#504e6b));
  background: linear-gradient(#6d6b89, #504e6b);
  border-radius: 20px;
  margin: 0 10px;
  color: white;
  font-style: italic;
  font-size: 1.8em;
  font-family: Georgia, serif;
  margin-bottom: 40px;
  cursor: pointer;
  border: 1px solid #4f4d6a; }

.redButton {
  width: 220px;
  height: 43px;
  background: -webkit-gradient(linear, left top, left bottom, from(#cebfc8), to(#9e8596));
  background: linear-gradient(#cebfc8, #9e8596);
  border-radius: 20px;
  margin: 0 10px;
  color: white;
  font-style: italic;
  font-size: 1.8em;
  font-family: Georgia, serif;
  margin-bottom: 40px;
  cursor: pointer;
  border: 1px solid #927c90; }

/* /buttons */
html {
  font-size: 16px;
  font-size: 62.5%;
  /* 10 xp */ }

body {
  font-family: Georgia, Serif;
  color: #4f4d6a; }

#main {
  max-width: 1550px;
  width: 95%;
  height: auto;
  margin: auto; }

#cover {
  height: 1135px;
  width: 100%;
  background-image: url("images/background.png");
  overflow: hidden;
  padding-top: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  #cover nav {
    background: url("images/banx.png") no-repeat;
    max-width: 960px;
    width: 93%;
    height: 30px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #cover nav a {
      text-decoration: none;
      text-transform: uppercase;
      margin-right: 3.125%;
      /* 30px */
      font-size: 1.2em;
      text-align: center; }
    #cover nav a:link, #cover nav a:visited, #cover nav a:hover, #cover nav a:active {
      color: #4f4d6a; }
    #cover nav a:nth-child(5) {
      margin-right: 0; }
  #cover #weAre {
    text-align: center;
    margin-top: 115px;
    padding: 0 5%; }
    #cover #weAre .whiteLine {
      height: 0;
      max-width: 410px;
      width: 26.4516%;
      border-top: 1px solid white;
      display: inline-block;
      position: relative;
      bottom: 5px; }
    #cover #weAre span {
      text-transform: uppercase;
      font-size: 2.4em;
      margin: 0 23px;
      font-style: italic; }
    #cover #weAre h1 {
      text-transform: uppercase;
      font-size: 12.5em; }
    #cover #weAre h5 {
      text-transform: uppercase;
      font-size: 1.8em;
      font-family: OpenSans, sans-serif; }
    #cover #weAre .whiteLineBottom {
      height: 0;
      max-width: 960px;
      width: 61.9354%;
      border-top: 1px solid white;
      margin: auto;
      margin-top: 25px;
      margin-bottom: 40px; }

#worx {
  min-height: 800px;
  height: auto;
  width: 100%;
  background-color: #ebebeb;
  text-align: center;
  padding: 60px 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  #worx .whiteLine {
    height: 0;
    max-width: 400px;
    width: 25.8064%;
    border-top: 1px solid white;
    display: inline-block;
    position: relative;
    bottom: 5px; }
  #worx span {
    display: inline;
    width: 100%;
    font-size: 1.8em;
    font-style: italic;
    text-transform: uppercase;
    margin: 0 30px; }
  #worx h2 {
    font-size: 7.2em;
    text-transform: uppercase; }
  #worx .whiteLineBottom {
    height: 0;
    max-width: 960px;
    width: 61.9354%;
    border-top: 1px solid white;
    margin: auto;
    margin-top: 20px; }
  #worx #whiteLine2 {
    height: 0;
    max-width: 960px;
    width: 61.9354%;
    border-top: 1px solid white;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px; }
  #worx #virtues {
    max-width: 950px;
    min-height: 335px;
    height: auto;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #worx #virtues .wrapper {
      margin-top: 52px;
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      text-align: left;
      min-width: 470px; }
    #worx #virtues .wrapper .virtue {
      height: 100%;
      width: 50%;
      font-style: italic;
      padding: 0 10px; }
      #worx #virtues .wrapper .virtue img {
        display: block;
        margin: auto; }
      #worx #virtues .wrapper .virtue h3 {
        margin-top: 35px;
        font-size: 2.2em;
        font-weight: 100; }
      #worx #virtues .wrapper .virtue p {
        margin-top: 4px;
        font-size: 1.2em;
        line-height: 23px; }

#awesome {
  min-height: 305px;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  #awesome #awesomeContainter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    max-width: 940px;
    width: 100%;
    margin-top: 8px; }
    #awesome #awesomeContainter h3 {
      display: block;
      width: 100%;
      font-style: italic;
      font-weight: 100;
      font-size: 2.4em;
      height: 40px;
      line-height: 40px;
      margin-bottom: 10px; }
    #awesome #awesomeContainter .awesomeBox {
      min-height: 160px;
      height: auto;
      max-width: 320px;
      width: 32%; }
      #awesome #awesomeContainter .awesomeBox p {
        font-style: italic;
        font-weight: 100;
        font-size: 1.2em;
        line-height: 23px; }
      #awesome #awesomeContainter .awesomeBox .viewMore {
        font-family: Georgia;
        border: 1px solid #4f4d6a;
        background-color: #4f4d6a;
        color: white;
        width: 100px;
        height: 22px;
        font-weight: 700;
        font-style: italic;
        border-radius: 4px;
        margin-top: 25px;
        cursor: pointer; }

footer {
  min-height: 310px;
  height: auto;
  width: 100%;
  background-color: #505050;
  color: white;
  font-family: OpenSans;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  padding: 0 30px; }
  footer #outerFoot {
    max-width: 940px;
    height: auto;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    footer #outerFoot #foot {
      max-width: 650px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      min-height: 110px;
      height: auto;
      margin-top: 48px;
      padding-right: 70px; }
      footer #outerFoot #foot h3 {
        font-size: 2.4em;
        font-style: italic;
        font-weight: 100;
        letter-spacing: 0.025em;
        margin-bottom: 13px; }
      footer #outerFoot #foot p {
        font-size: 1.2em;
        line-height: 24px;
        letter-spacing: 0.06em; }
    footer #outerFoot #contact {
      width: 260px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      height: 110px;
      margin-top: 48px; }
      footer #outerFoot #contact h3 {
        font-style: italic;
        font-size: 2.4em;
        font-weight: 100;
        letter-spacing: 0.025em;
        margin-bottom: 13px; }
      footer #outerFoot #contact p {
        font-size: 1.2em;
        line-height: 24px;
        letter-spacing: 0.06em; }
  footer #copyright {
    max-width: 915px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1.2em;
    margin: auto;
    margin-top: 47px;
    margin-bottom: 25px; }
